<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liga de fútbol profesional</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div id="contenedor">
		<!-- Encabezado -->
		<header class="site-header">
			<h1>Liga de fútbol profesional</h1>
		</header>
		<!-- Barra de Navegación -->
		<nav class="barra-navegacion">
			<ul>
				<li><a href="index.html" target="_top">Home</a></li>
				<li><a href="fixture.html" target="_top">Fixture y
						resultados</a></li>
				<li><a href="equipos.html" target="_top">Equipos</a></li>
			</ul>
		</nav>
		<!-- Sección de Historia de los Equipos -->
		<section id="contenido">
			<h2>Equipos</h2>
			<div class="contenido-equipos">
				<div class="equipos">
					<img alt="arsenal" src="img/img_arsenal.png">
					<h4>Arsenal Fútbol Club</h4>
					<p>Arsenal Fútbol Club es un club de fútbol argentino que
						pertenece a la ciudad de Sarandí, en el partido de Avellaneda,
						provincia de Buenos Aires, fundado el 11 de enero de 1957.
						Actualmente participa en la Superliga Argentina, luego de haberse
						coronado campeón de la Primera B Nacional 2018-19.</p>
				</div>
				<br>
				<div class="equipos">
					<img alt="velez" src="img/img_velez.png">
					<h4>Club Atlético Vélez Sarsfield</h4>
					<p>El Club Atlético Vélez Sarsfield es una entidad deportiva de
						Argentina con sede en el barrio de Liniers, Buenos Aires. Fue
						fundado el 1 de enero de 1910 y su principal actividad es el
						fútbol, cuyo primer equipo participa en la Superliga Argentina.</p>
				</div>
			</div>
		</section>
		<!-- Contenedor de auspiciantes -->
		<aside>
			<h3>Auspiciantes</h3>
			<img alt="adidas" src="img/img_adidas.jpg"> <img alt="macro"
				src="img/img_macro.jpg"> <img alt="chevrolet"
				src="img/img_chevrolet.jpg"> <img alt="fravega"
				src="img/img_fravega.jpg">
		</aside>
		<!-- Pie de Página -->
		<footer>
			<h6>Avda. Pedro Ortiz de Zarate Nº 455 - Tel. 3884789555</h6>
		</footer>
	</div>
</body>
</html>